body {
    margin: 40px;
    overflow: hidden;
    background-image: url('/img/background.jpg');
    background-size: cover; /* Or try 'auto' */
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
}


#message-container{
    overflow: hidden;
    height: 35pc;
    width: 110pc;
    /* background-color: #f3f3f3; */
    margin: 30px;
}

#modal-info-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 40pc;
}

#modal-info-icon{
    width: 70pc;
    z-index: 99;
    display: none;
    
}