body {
    margin: 40px;
    overflow: hidden;
    background-image: url('/img/background.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
}




#message-container {
    scrollbar-width: thin;
    scrollbar-color: #888 #5e5e5e;
    overflow-y: auto;
    scroll-margin-block-end: 50px;
    height: 35pc;
    width: 110pc;
    scroll-behavior: smooth;
    margin: 30px;
}

#modal-info-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 40pc;
}

#modal-info-icon{
    width: 70pc;
    z-index: 99;
    display: none;
    
}
.predefined-message-btn {
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.predefined-message-btn:hover {
    background-color: #d1d5db; /* Light gray for hover effect */
}

.dark .predefined-message-btn:hover {
    background-color: #4b5563; /* Dark gray for hover effect */
}


#bot-greeting-gif {
    margin-top: 20px;
    border-radius: 20px;
    width: 25pc;
    height: 28pc;
}